{% extends "base.html" %}
{% block head %}
{% endblock %}
{% block title %}Stream{% endblock %}
{% block sidebar %}
<div class="span3">
  <div class="well sidebar-nav sidebar-nav-fixed">
    <p style="padding-left: 15px; padding-top: 10px;">
      <strong id="unread-count">{{ unread_count }}</strong> unread items
    </p>
    <ul class="nav nav-list">
      <li class="nav-header">Feeds</li>
      {% for link, feed in feed_names.items() %}
      <li>
        <div style="margin-bottom: 7px;">
          <a href="{{ link }}">{{ feed }}</a>
          <a class="close close-custom" href="#unsubscribe-modal{{ loop.index0 }}" data-toggle="modal">&times;</a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <a class="btn" style="margin-left: 13px; margin-top: 7px;" href="#add-feed-modal" data-toggle="modal">Add Feed</a>
  </div><!--/.well -->
</div><!--/span-->

<!-- Modals for unsubscribing-->
{% for link, feed in feed_names.items() %}
<div class="modal hide fade" id="unsubscribe-modal{{ loop.index0 }}">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Unsubscribe?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to unsubscribe from {{ feed }}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn unsubscribe" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-loading-text="Unsubscribing..." onclick="unsubscribe('{{ link }}', '#unsubscribe-modal{{ loop.index0 }}', this)">Unsubscribe</button>
  </div>
</div>
{% endfor %}

<!-- Add feed modal-->
<div class="modal hide fade" id="add-feed-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add Feed</h3>
  </div>
  <div class="modal-body">
    <form action="" id="add-feed-form" method="post">
      Feed link: <input type="text" name="feed_link">
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn unsubscribe" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" data-loading-text="Subscribing..." onclick="submitForm(this)">Subscribe</button>
  </div>
</div>

<!-- Scripts for handling modal events -->
<script>
  var unsubscribe = function(link, id, button) {
    $(button).button('loading');
    var unsub = $.post('{{ url_for('unsubscribe') }}', {feed: link});
    unsub.done(function() {
      window.location = "{{ url_for('index') }}";
    });
  }

  var submitForm = function(button) {
    $(button).button('loading');
    var sub = $.post('{{ url_for('add_feed') }}', $('#add-feed-form').serialize());
    sub.done(function() {
      window.location = "{{url_for('index') }}";
    });
  }
</script>

{% endblock %}
{% block content %}
{% endblock %}
