{% extends "logged_in.html" %}
{% block head %}
{% endblock %}
{% block title %}Stream{% endblock %}
{% block sidebar %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if stream %}
  <div class="span9">
    <div id="rss-content">
    {% for item in stream %}
      <div class="row-fluid">
        <div {% if loop.first %}id="rss-first" {% endif %}class="rss-item" onclick="rssHighlight($(this))" data-item-id="{{ item._id }}">
          <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
          <h4>From <a href="{{ item.feed_link }}">{{ item.feed_name }}</a>
            {% if item.author %} by {{ item.author }}{% endif %}</h4>
          {{ item.content|safe }}
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="row-fluid" id="more">
      <p>Loading more items...</p>
    </div>
  </div>
{% elif feed_names %}
  <div class="span9">
    <p>No items</p>
  </div>
{% else %}
  <div class="span9">
    <p>Add feeds on the left to get started!</p>
  </div>
{% endif %}
<script>
var rssHighlighted;

var rssHighlight = function(el) {
  if (rssHighlighted !== undefined) {
    rssHighlighted.css("border-color", "black");
  }
  rssHighlighted = el;
  rssHighlighted.css("border-color", "#00b4f5");
}

$(document).keyup(function(e) {
  if (rssHighlighted === undefined && e.keyCode === 74) {
    rssHighlight($("#rss-first"));
  } else if (e.keyCode === 74) {
    var next = rssHighlighted.parent().next();
    if (next.length !== 0) {
      rssHighlight(next.children());
      $(window).scrollTop(rssHighlighted.position().top - 60);
    } else {
      loadMore(scrollToNext);
    }
  } else if (e.keyCode === 75 && rssHighlighted !== undefined) {
    var prev = rssHighlighted.parent().prev();
    if (prev.length !== 0) {
      rssHighlight(prev.children());
      $(window).scrollTop(rssHighlighted.position().top - 60);
    }
  }
});

var scrollToNext = function() {
  console.log('hello');
  var next = rssHighlighted.parent().next();
  rssHighlight(next.children());
  $(window).scrollTop(rssHighlighted.position().top - 60);
}

$(window).on("scroll.read", function() {
  if (rssHighlighted === undefined) {
    rssHighlight($("#rss-first"));
  } else {
    var next = rssHighlighted.parent().next();
    if (next.length !== 0) {
      var windowTop = $(window).scrollTop();
      var windowBottom = windowTop + $(window).height();
      var highlightTop = rssHighlighted.offset().top;
      var highlightBottom = highlightTop + rssHighlighted.height();
      if (windowTop + 200 > highlightBottom) {
        rssHighlight(next.children());
      } else if (highlightTop + 200 > windowBottom) {
        rssHighlight(rssHighlighted.parent().prev().children());
      }
    }
  }
});

{% if stream %}
// Infinite scroll
var before = {{ before }};
$("#more").hide();
var called = {};
var loading = false;

var loadMore = function(callback) {
  if (!loading) {
    loading = true;

    if (before in called) {
      return false;
    }
    called[before] = true;
    $.ajax({
      type: "GET",
      url: "{{ url_for('stream_ajax') }}",
      data: {before: before},
      dataType: "json",
      success: function(result) {
        $("#more").hide();
        if (result.length > 0) {
          before = result.before;
          $("#rss-content").append(result.content);
        } else {
          $("#rss-content").append(result.content);
          _window.off("scroll.inf");
        }
        loading = false;
        if (callback !== undefined) {
          console.log('wassup');
          callback();
        }
      }
    });
  }
}

$(window).on("scroll.inf", function() {
  var _window = $(window);
  var _document = $(document);

  if(_window.scrollTop() + _window.height() > _document.height() - 200) {
    $("#more").css("top", "400");
    $("#more").show();
  }

  if(_window.scrollTop() + _window.height() == _document.height()) {
    loadMore(undefined);
  }
});
{% endif %}

</script>
{% endblock %}
