{% extends "base.html" %}
{% block head %}
<style>
.rss-item {
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.sidebar-nav-fixed {
     position:fixed;
     top:60px;
     width:21.97%;
}

@media (max-width: 767px) {
     .sidebar-nav-fixed {
         width:auto;
     }
}

@media (max-width: 979px) {
     .sidebar-nav-fixed {
         position:static;
        width: auto;
     }
}
</style>
{% endblock %}
{% block title %}Stream{% endblock %}
{% block content %}
<div class="span3">
  <div class="well sidebar-nav sidebar-nav-fixed">
    <ul class="nav nav-list">
      <li class="nav-header">Feeds</li>
      {% for feed, link in feed_names.items() %}
      <li><a href="{{ link }}">{{ feed }}</a></li>
      {% endfor %}
    </ul>
    <a class="btn" href="{{ url_for('add_feed') }}">Add Feed</a>
  </div><!--/.well -->
</div><!--/span-->
{% if stream %}
  <div class="span9">
    {% for item in stream %}
      <div class="row-fluid">
        <div class="rss-item">
          <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
          <h4>From <a href="{{ item.feed_link }}">{{ item.feed_name }}</a> by {{ item.author }}</h4>
          {{ item.content|safe }}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No stream at this time</p>
{% endif %}
{% endblock %}
