{% extends "logged_in.html" %}
{% block head %}
{% endblock %}
{% block title %}Stream{% endblock %}
{% block sidebar %}
  {{ super() }}
{% endblock %}
{% block content %}
{% if stream %}
  <div class="span9">
    {% for item in stream %}
      <div class="row-fluid">
        <div class="rss-item">
          <h2><a href="{{ item.link }}">{{ item.title }}</a></h2>
          <h4>From <a href="{{ item.feed_link }}">{{ item.feed_name }}</a>
            {% if item.author %} by {{ item.author }}{% endif %}</h4>
          {{ item.content|safe }}
        </div>
      </div>
    {% endfor %}
    <a href="{{ url_for('stream', before=before) }}" class="btn">Load more</a>
  </div>
{% else %}
  <div class="span9">
    <p>Add feeds on the left to get started!</p>
  </div>
{% endif %}
{% endblock %}
